 /*  your css code here. If applicable */

/*
body { padding: 20px; 
            background-color: #f4f4f4; }

        h1{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 span{
            color: rgb(27, 154, 96);
            font-weight: bold;
        }
        
        .container { 
            background: #fff; 
            padding: 30px; 
            border-radius: 8px; 
            box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
        }
 */